* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content-wrapper {
  flex: 1;
}

.feature-icon-small {
  width: 3rem;
  height: 3rem;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.5s;
}

.fade-in {
  opacity: 1;
  transition: opacity 0.5s;
}

.fade-in-body {
  opacity: 0;
  transition: opacity 1s ease-in;
}

.fade-in-body.fade-in {
  opacity: 1;
}